body, html {
    padding: 0;
    margin: 0;
}

.scroll__container {
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    height: 500px !important;
}
